<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h4>Edit Campaign</h4>
    <hr />
    <form submit.trigger="onSubmit($event)">
      <div class="form-group">
        <label class="control-label" for="Name">NameOfSubject</label>
        <input style="border-radius: 5px" class="form-control" type="text" id="Name" maxlength="64" value.bind="_nameOfSubject"/>
      </div>

      <div class="form-group">
        <label class="control-label" for="description">Rating</label>
        <input style="border-radius: 5px" class="form-control" type="text" id="description" maxlength="64" value.bind="_rating"/>
      </div>

      <div class="form-group">
        <label class="control-label" for="discountAmount">Comment</label>
        <input style="border-radius: 5px" class="form-control" type="text" id="discountAmount" maxlength="64" value.bind="_comment"/>
      </div>
        <div class="form-group">
            <input type="submit" value="Save Changes" class="btn btn-primary" />
        </div>
    </form>

    <div>
        <a route-href="route: subjectReview-index; params.bind: { }">Back to List</a>
    </div>

</template>
