<template>
    <body>
    <require from="./create.css"></require>
    <div class="create">
        <div class="row">
            <div class="col-75">
                <div class="orderContainer">
                    <h2 style="font-weight: 600;" >Subject Reviews</h2>
                    <form submit.trigger="onSubmit($event)">
                        <div class="row">
                            <div class="col-50">
                                <table class="table table-bordered" style="box-shadow: 0 -2px 2px rgba(34,34,34,0.6);font-weight: 600;">
                                    <thead>
                                    <tr>
                                        <th>
                                            subject name
                                        </th>
                                        <th>
                                            rating
                                        </th>
                                        <th>
                                            Comment
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr repeat.for="subject of _subjectReviews">
                                        <td>
                                            ${subject.nameOfSubject}
                                        </td>
                                        <td>
                                            ${subject.rating}
                                        </td>
                                        <td>
                                            ${subject.comment}
                                        </td>
                                      <td>
                                        <a route-href="route: subjectReviews-delete; params.bind: { id: subject.id }" style="color: white">Delete</a>
                                      </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                  <p>
                    <a route-href="route: subjectReviews-create; params.bind: { }" style="color: white">Create New</a>
                  </p>
                </div>
            </div>
        </div>
    </div>
    </body>
</template>
