@model WebApp.ViewModels.PersonTypeCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="PersonType.Name" class="control-label"></label>
    <input asp-for="PersonType.Name" class="form-control" />
    <span asp-validation-for="PersonType.Name" class="text-danger"></span>
</div>