@model WebApp.ViewModels.IsInWashCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="IsInWash.CarId" class="control-label"></label>
    <select asp-for="IsInWash.CarId" class ="form-control" asp-items="Model.CarSelectList"></select>
</div>
<div class="form-group">
    <label asp-for="IsInWash.PersonId" class="control-label"></label>
    <select asp-for="IsInWash.PersonId" class ="form-control" asp-items="Model.PersonSelectList"></select>
</div>
<div class="form-group">
    <label asp-for="IsInWash.WashId" class="control-label"></label>
    <select asp-for="IsInWash.WashId" class ="form-control" asp-items="Model.WashSelectList"></select>
</div>
<div class="form-group">
    <label asp-for="IsInWash.From" class="control-label"></label>
    <input asp-for="IsInWash.From" class="form-control" />
    <span asp-validation-for="IsInWash.From" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="IsInWash.To" class="control-label"></label>
    <input asp-for="IsInWash.To" class="form-control" />
    <span asp-validation-for="IsInWash.To" class="text-danger"></span>
</div>