<template>
    <body>

    <require from="../../components/alert"></require>
    <alert alert-data.bind="_alert"></alert>

    <div class="create">
    <body>
    <require from="./create.css"></require>
    <div class="row">
        <div class="col-75">
            <div class="orderContainer">
                <form submit.trigger="onSubmit($event)">
                    <div class="row">
                        <div class="col-50">
                            <h3 style="text-decoration: underline">${langResources[state.selectedCulture.code].newCarV2}</h3>
                            ${langResources[state.selectedCulture.code].selectMark}:<br>
                            <select style="border-radius: 15px" class="custom-select" value.bind="selectedMark" change.delegate="getModels(selectedMark.mark)">
                                <option model.bind="null">${langResources[state.selectedCulture.code].choose}...</option>
                                <option repeat.for="mark of _marks"
                                        model.bind="mark">
                                    ${mark.mark}
                                </option>
                            </select>

                            ${langResources[state.selectedCulture.code].selectModel}:<br>
                            <select style="border-radius: 15px" class="custom-select" value.bind="selectedModel" change.delegate="createModel(selectedModel.model)">
                                <option model.bind="null">${langResources[state.selectedCulture.code].choose}...</option>
                                <option repeat.for="model of _models"
                                        model.bind="model">
                                    ${model.model}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input style="background-color: #23355b; color: white" type="submit" value="${langResources[state.selectedCulture.code].addNew}" class="btn" />
                    </div>
                    <div>
                        <a route-href="route: Cars-index; params.bind: { }" style="color: white">${langResources[state.selectedCulture.code].backToList}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
    </div>
    </body>
</template>
