<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Car
            </dt>
            <dd class="col-sm-5">
                ${_car.mark} ${_car.model}
            </dd>
        </dl>

        <form submit.trigger="onSubmit($event)">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a route-href="route: Cars-index; params.bind: { }">Back to List</a>
        </form>

    </div>
</template>
