<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>
    
    <h1>Edit</h1>

    <h4>Car</h4>
    <hr />
    <form submit.trigger="onSubmit($event)">
        <p>
            <label>
                Select Mark:<br>
                <select value.bind="selectedMark" change.delegate="getModels(selectedMark.mark)">
                    <option model.bind="$_Mark">${_carMark}</option>
                    <option repeat.for="mark of _marks"
                            model.bind="mark">
                        ${mark.mark}
                    </option>
                </select>
            </label>
        </p>
        <p>
            <label>
                Select Model:<br>
                <select value.bind="selectedModel" change.delegate="createModel(selectedModel.model)">
                    <option model.bind="null">${_carModel}</option>
                    <option repeat.for="model of _models"
                            model.bind="model">
                        ${model.model}
                    </option>
                </select>
            </label>
        </p>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>

    <div>
        <a route-href="route: Cars-index; params.bind: { }">Back to List</a>
    </div>

</template>
