<template>
    <body>


    <div class="create">
        <body>
        <require from="./create.css"></require>
        <div class="row">
            <div class="col-75">
                <div class="orderContainer">
                    <h2 style="text-decoration: underline;">${langResources[state.selectedCulture.code].cars}</h2>
                    <form submit.trigger="onSubmit($event)">
                        <div class="row">
                            <div class="col-50">
                                <table class="table text-white" style="font-weight: 600;">
                                    <thead>
                                    <tr>
                                        <th>
                                            ${langResources[state.selectedCulture.code].mark}
                                        </th>
                                        <th>
                                            ${langResources[state.selectedCulture.code].model}
                                        </th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr repeat.for="car of _cars">
                                        <td>
                                            ${car.mark}
                                        </td>
                                        <td>
                                            ${car.model}
                                        </td>
                                        <td>
                                            <a route-href="route: Cars-edit; params.bind: { id: car.id }" style="color: white">${indexResources[state.selectedCulture.code].edit}</a> |
                                            <a route-href="route: Cars-delete; params.bind: { id: car.id }" style="color: white">${indexResources[state.selectedCulture.code].delete}</a>
                                        </td>

                                    </tr>
                                    <a style="color: black;float: right;font-size: larger;font-weight: bold;" route-href="route: Cars-create; params.bind: {}">${langResources[state.selectedCulture.code].newCar}</a>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </body>
    </div>












    </body>
</template>
