<template>
    <h1>Index</h1>

    <p>
        <a route-href="route: Washes-create; params.bind: {}">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Wash
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="wash of _washes">
                <td>
                    ${wash.nameOfWashType}
                </td>
                <td>
                    <a route-href="route: Washes-edit; params.bind: { id: wash.id }">Edit</a> |
                    <a route-href="route: Washes-details; params.bind: { id: wash.id }">Details</a> |
                    <a route-href="route: Washes-delete; params.bind: { id: wash.id }">Delete</a>
                </td>

            </tr>
</template>