<template>
  <require from="../../components/alert"></require>
  <alert alert-data.bind="_alert"></alert>

  <div class="row">
    <div class="col-75">
      <div class="orderContainer">
        <h2>Admin Edit</h2>
        <form submit.trigger="onSubmit($event)">
          <div class="row">
            <div class="col-50">
              <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                  <label class="control-label" for="NameOfQuestion">Question</label>
                  <input class="form-control" type="text" id="NameOfQuestion" maxlength="64"
                         value.bind="_question.nameOfQuestion" />
                </div>
              </form>
              <table class="table table-bordered" style="box-shadow: 0 -2px 2px rgba(34,34,34,0.6);font-weight: 600;">
                <thead>
                <tr>
                  <th>
                    Answer
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr repeat.for="answer of answers">
                  <td>
                    <input type="radio" name="group1"
                           model.bind="answer.id" checked.bind="selectedAnswerId">
                    Correct Answer
                    <label class="control-label" for="Answer">Answer: ${$index + 1}</label>
                    <input class="form-control" type="text" id="Answer" maxlength="64"
                           value.bind="answer.answer" />
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div>
    <a route-href="route: Admin-Index; params.bind: { }">Back to Admin Panel</a>
  </div>
</template>
