<template>
  <body>
  <require from="./create.css"></require>
  <require from="../../components/alert"></require>

  <alert alert-data.bind="_alert"></alert>

  <h1>Create</h1>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form submit.trigger="onSubmitQuestion($event)" if.bind="_isQuestionSubmitted == false">
        <h4>Question</h4>
        <div class="form-group">

          <label class="control-label" for="nameOfQuestion">Question</label>
          <input class="form-control" type="text" id="nameOfQuestion" maxlength="64" value.bind="_nameOfQuestion" />
        </div>

        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary" />
        </div>
      </form>


      <form submit.trigger="onSubmitAnswer($event)" if.bind="_isQuestionSubmitted == true">
        <h4>Answer</h4>
        <div class="form-group">

          <label class="control-label" for="answer">Answer</label>
          <input class="form-control" type="text" id="answer" maxlength="64" value.bind="_answer" />
          <label><input type="checkbox" checked.bind="_checked">Check this box if this is the right answer</label>
        </div>


        <div class="form-group">
          <input type="submit" value="Add answer to the question" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
  <div>
    <button click.delegate="reload()">Add New Question</button><br>
    <a route-href="route: Admin-Index; params.bind: { }">Back to Admin panel</a>
  </div>
  </body>
</template>
