<template>
    <body class="index">
    <require from="./index.css"></require>
        <div class="col-75">
            <div class="active">
                <table class="table table-bordered">
                    <div class="row">
                        <div class="col-50">
                            <h3>Upcoming services</h3>
                            <thead>
                            <tr class="order">
                                <th>
                                    From
                                </th>
                                <th>
                                    To
                                </th>
                                <th>
                                    Car
                                </th>
                                <th>
                                    Service Name
                                </th>
                                <th>
                                    Price of service
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="order" repeat.for="payment of newPayments">
                                <td>
                                    ${payment.from}
                                </td>
                                <td>
                                    ${payment.to}
                                </td>
                                <td>
                                    ${getCar(payment.carId)}
                                </td>
                                <td>
                                    ${getServiceName(payment.serviceId)}
                                </td>
                                <td>
                                    ${payment.paymentAmount}
                                </td>
                            </tr>
                            </tbody>
                        </div>
                    </div>
                </table>
            </div>
        <div class="old">
            <table class="table table-bordered">
                <div class="row">
                    <div class="col-50">
                        <h3>Past services</h3>
                        <thead>
                        <tr class="order">
                            <th>
                                From
                            </th>
                            <th>
                                To
                            </th>
                            <th>
                                Car
                            </th>
                            <th>
                                Service Name
                            </th>
                            <th>
                                Price of service
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="order" repeat.for="payment of oldPayments">
                            <td>
                                ${payment.from}
                            </td>
                            <td>
                                ${payment.to}
                            </td>
                            <td>
                                ${getCar(payment.carId)}
                            </td>
                            <td>
                                ${getServiceName(payment.serviceId)}
                            </td>
                            <td>
                                ${payment.paymentAmount}
                            </td>
                        </tr>
                        </tbody>
                    </div>
                </div>
            </table>
        </div>
        </div>
    </div>
    </body>
</template>
