<template>
    <h1>Index</h1>

    <p>
        <a route-href="route: Service-create; params.bind: {}">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Service
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="service of _services">
                <td>
                    ${service.nameOfService}
                    ${service.description}
                    ${service.priceOfService}
                </td>
                <td>
                    <a route-href="route: Washes-edit; params.bind: { id: service.id }">Edit</a> |
                    <a route-href="route: Washes-details; params.bind: { id: service.id }">Details</a> |
                    <a route-href="route: Washes-delete; params.bind: { id: service.id }">Delete</a>
                </td>

            </tr>
</template>
