#subMenu {
    position: absolute;
    margin:auto;
}

#subMenu {
    position: absolute;
    margin:auto;
}
nav{
    background-color: #99aab5;
}
#footer {
    background-color: #99aab5;
}
.carWash {
  margin-left: 100px;
}
