<template>
    <body>
    <require from="./create.css"></require>

    <div class="create">
        <div class="row">
            <div class="col-75">
                <div class="orderContainer">
                    <h2 style="font-weight: 600;" >Active Campaigns</h2>
                    <form submit.trigger="onSubmit($event)">
                        <div class="row">
                            <div class="col-50">
                                <table class="table table-bordered" style="box-shadow: 0 -2px 2px rgba(34,34,34,0.6);font-weight: 600;">
                                    <thead>
                                    <tr>
                                        <th>
                                            NameOfCampaign
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            DiscountAmount
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr repeat.for="campaign of _campaigns">
                                        <td>
                                            ${campaign.nameOfCampaign}
                                        </td>
                                        <td>
                                            ${campaign.description}
                                        </td>
                                        <td>
                                            ${campaign.discountAmount * 100}%
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
</template>
