@model WebApp.ViewModels.ModelMarkCreateEditViewModel
<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="ModelMark.Mark" class="control-label"></label>
    <input asp-for="ModelMark.Mark" class="form-control" />
    <span asp-validation-for="ModelMark.Mark" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ModelMark.Model" class="control-label"></label>
    <input asp-for="ModelMark.Model" class="form-control" />
    <span asp-validation-for="ModelMark.Model" class="text-danger"></span>
</div>