@model Domain.Car

<h4>Car</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.LicenceNr)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.LicenceNr)
    </dd>
</dl>
