@model IEnumerable<BLL.App.DTO.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Cars</h1>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Manually Add a new Car</a>
    </p>
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.CarSize)</h5>
                    
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.Id">Delete</a>
                    }
                </div>
            </div>

        </div>
    }
</div>