<template>
  <body>
  <require from="./create.css"></require>

  <div class="create">
    <div class="row">
      <div class="col-75">
        <div class="orderContainer">
          <h2 style="font-weight: 600;" >Quizzes</h2>
          <form submit.trigger="onSubmit($event)">
            <div class="row">
              <div class="col-50">
              <h3>You scored on ${quizName} quiz: ${score}/${maxScore}</h3>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </body>
</template>
