<template>
    <body>
    <require from="./create.css"></require>

    <div class="create">
        <div class="row">
            <div class="col-75">
                <div class="orderContainer">
                    <h2 style="font-weight: 600;" >Quizzes</h2>
                    <form submit.trigger="onSubmit($event)">
                        <div class="row">
                            <div class="col-50">
                                <table class="table table-bordered" style="box-shadow: 0 -2px 2px rgba(34,34,34,0.6);font-weight: 600;">
                                    <thead>
                                    <tr>
                                        <th>
                                            Quiz
                                        </th>
                                        <th>
                                            Average Score
                                        </th>
                                        <th>
                                          Start Quiz
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr repeat.for="quiz of _quizzesDummy">
                                        <td>
                                            ${quiz.nameOfQuiz}
                                        </td>
                                        <td if.bind="quiz.score == 0">
                                            No score yet
                                        </td>
                                        <td if.bind="quiz.score != 0">
                                          ${quiz.score}/${quiz.maxScore}
                                        </td>
                                        <td>
                                          <a style="color: white;float: right;font-size: larger;font-weight: bold;" class="button" type="button" route-href="route: quizzes-quiz; params.bind: { id: quiz.id }">Start</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
</template>
