<template>
  <body>
  <require from="./create.css"></require>

  <div class="create">
    <div class="row">
      <div class="col-75">
        <div class="orderContainer">
          <h2>${quiz.nameOfQuiz} Quiz</h2>
          <form submit.trigger="moveToNextQuestion()">
            <h4>Question: ${currentQuestion.nameOfQuestion}</h4>
            <label repeat.for="answer of _answers">
              <input type="radio" name="group2"
                     model.bind="answer" checked.bind="selectedAnswer">
              ${answer.answer}
            </label>
            Selected answer: ${selectedAnswer.answer}
            <div class="form-group">
              <button click.delegate="moveToNextQuestion()">Next question</button><br>
            </div>
            <br>
            <div>
              Your Score ${score}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </body>
</template>
