<template>
    <body>
    <require from="../../nissan.css"></require>
    <require from="../../components/alert"></require>
    <alert alert-data.bind="_alert"></alert>

    <div class="create">
    <body>
    <require from="./create.css"></require>
    <div class="row">
        <div class="col-75">
            <div class="orderContainer">
                <form submit.trigger="onSubmit($event)">
                    <div class="row">
                        <div class="col-50">
                            <h3>New Car</h3>
                            Select Mark:<br>
                            <select class="custom-select" value.bind="selectedMark" change.delegate="getModels(selectedMark.mark)">
                                <option model.bind="null">Choose...</option>
                                <option repeat.for="mark of _marks"
                                        model.bind="mark">
                                    ${mark.mark}
                                </option>
                            </select>

                            Select Model:<br>
                            <select class="custom-select" value.bind="selectedModel" change.delegate="createModel(selectedModel.model)">
                                <option model.bind="null">Choose...</option>
                                <option repeat.for="model of _models"
                                        model.bind="model">
                                    ${model.model}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
    </div>
    <div>
        <a route-href="route: Cars-index; params.bind: { }">Back to List</a>
    </div>
    </body>
</template>
