@Model Person

<div asp-validation-summary="All" class="text-danger"></div>

<div class="form-group">
    <label asp-for="Person.FirstName" class="control-label"></label>
    <input asp-for="Person.FirstName" class="form-control" />
    <span asp-validation-for="Person.FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Person.LastName" class="control-label"></label>
    <input asp-for="Person.LastName" class="form-control" />
    <span asp-validation-for="Person.LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Person.Email" class="control-label"></label>
    <input asp-for="Person.Email" class="form-control" />
    <span asp-validation-for="Person.Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Person.PhoneNr" class="control-label"></label>
    <input asp-for="Person.PhoneNr" class="form-control" />
    <span asp-validation-for="Person.PhoneNr" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Person.CreatedBy" class="control-label"></label>
    <input asp-for="Person.CreatedBy" class="form-control" />
    <span asp-validation-for="Person.CreatedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Person.CreatedAt" class="control-label"></label>
    <input asp-for="Person.CreatedAt" class="form-control" />
    <span asp-validation-for="Person.CreatedAt" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Person.ChangedBy" class="control-label"></label>
    <input asp-for="Person.ChangedBy" class="form-control" />
    <span asp-validation-for="Person.ChangedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Person.ChangedAt" class="control-label"></label>
    <input asp-for="Person.ChangedAt" class="form-control" />
    <span asp-validation-for="Person.ChangedAt" class="text-danger"></span>
</div>