@model PublicApi.DTO.v1.QuestionAnswerDummyV2

@{
    ViewData["Title"] = "Answer";
}

<h4> @Html.DisplayFor(model => model.QuizName) Quiz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAnswer">
            <div asp-validation-summary="All" class="text-danger"></div>
            
             <input type="hidden" asp-for="index" class="form-control" />
             <span asp-validation-for="index" class="text-danger"></span>
             
             <input type="hidden" asp-for="QuizId" class="form-control" />
             <span asp-validation-for="QuizId" class="text-danger"></span>
             
             <input type="hidden" asp-for="score" class="form-control" />
             <span asp-validation-for="score" class="text-danger"></span>
             
             <dd class = "col-sm-10">
                  @Html.DisplayFor(model => model.score)
             </dd>
             
             <input type="hidden" asp-for="QuestionId" class="form-control" />
             <span asp-validation-for="QuestionId" class="text-danger"></span>
             
             <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Question.NameOfQuestion)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Question.NameOfQuestion)
            </dd>
            
            <div class="form-group">
                <label asp-for="CorrectAnswerId" class="control-label"></label>
                <select asp-for="CorrectAnswerId" class="form-control" asp-items="ViewBag.CorrectAnswerId"></select>
                <span asp-validation-for="CorrectAnswerId" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Next Question" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}