<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Index PersonCars</h1>

    <p>
        <a route-href="route: personcars-create; params.bind: {}">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Person
                </th>
                <th>
                    Car
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="personCar of _personCars">
                <td>
                    ${personCar.person.firstName + ' ' + personCar.person.lastName}
                </td>
                <td>
                    ${personCar.car.licenceNr}
                </td>
                <td>
                    <a route-href="route: personcars-edit; params.bind: { id: personCar.id }">Edit</a> |
                    <a route-href="route: personcars-details; params.bind: { id: personCar.id }">Details</a> |
                    <a route-href="route: personcars-delete; params.bind: { id: personCar.id }">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</template>
