@model Domain.Payment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="paymentID" />
            <div class="form-group">
                <label asp-for="personID" class="control-label"></label>
                <select asp-for="personID" class="form-control" asp-items="ViewBag.personID"></select>
                <span asp-validation-for="personID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentMethodID" class="control-label"></label>
                <select asp-for="paymentMethodID" class="form-control" asp-items="ViewBag.paymentMethodID"></select>
                <span asp-validation-for="paymentMethodID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="checkID" class="control-label"></label>
                <select asp-for="checkID" class="form-control" asp-items="ViewBag.checkID"></select>
                <span asp-validation-for="checkID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentAmount" class="control-label"></label>
                <input asp-for="paymentAmount" class="form-control" />
                <span asp-validation-for="paymentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeOfPayment" class="control-label"></label>
                <input asp-for="timeOfPayment" class="form-control" />
                <span asp-validation-for="timeOfPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
