#popup  {
    margin-left:600px;
    position: absolute;
    max-width: 290px;
    display: none;
    background: #ccc;
    border: 1px solid;
    border-radius: 10px;
}

.days {
    background-color: #4267B2;
    color: white;
}
#car {
    background-color: #99aab5;
    color: white;
}


#services2{
    max-width: 600px;
    table-layout: auto;

}

.btn {
    border: 2px solid black;
    background-color: green;
    color: black;
    padding: 14px 28px;
    cursor: pointer;
    width: 100%;
}
td.time{
    background-color:lightgreen;
}
th.times{
    background-color: #4267B2;
    color: white;
}


th.services{
    background-color:dimgrey;
    opacity: 0.9;
}
tr.services{
    background-color: #4267B2;
    color: white;
}

td.time:hover{
    background-color:orange;
    border: 3px solid black;
    animation-timing-function: linear;
    cursor:pointer;
}

#parent {
    position: relative;
}
#parent > * {
    position: absolute;
}
#timeTable {
    position: relative;

}
#services {
    position: relative;
    width: 30%;
    background-color: #99aab5;
    color: white;
}

html {

    position: relative;
}

#car {
    font-size: small;
}

.table-bordered{
    border:2px solid black;
    box-shadow: 0 -2px 2px rgba(34,34,34,0.6);
}
.table-bordered > thead > tr > th{
    box-shadow: 0 -2px 2px rgba(34,34,34,0.6);
    border:2px solid black;
}
.table-bordered > tbody > tr > td{
    box-shadow: 0 -2px 2px rgba(34,34,34,0.6);
    border:2px solid black;
}
body {
    background-color: #f7f7f7;
}
#selectCar{
    position: relative;
    max-width: 80px;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 56px;
    height: 100%;
    text-align: center;
}

#overlay span {
    padding: 3px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 900;
    font-size: larger;
    background-color: beige;
    position:relative;
    right: 10%;
    top:30%;
}

#overlayService {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 56px;
    height: 100%;
    text-align: center;
}

#overlayService div {
    padding: 3px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 900;
    font-size: larger;
    background-color: beige;
    position:relative;
}


.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}


@media screen and (max-width: 1000px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    body
    {
        font-size: 15px;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
}
@media screen and (max-width: 768px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    body
    {
        font-size: 10px;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
}

.isInServiceContainer {
    background-color: #4267B2;
    color: white;
    padding: 5px 10px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
}
