@model WebApp.ViewModels.CampaignCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>

<div class="form-group">
    <label asp-for="Campaign.ServiceId" class="control-label"></label>
    <select asp-for="Campaign.ServiceId" class ="form-control" asp-items="Model.ServiceSelectList"></select>
</div>

<div class="form-group">
    <label asp-for="Campaign.NameOfCampaign" class="control-label"></label>
    <input asp-for="Campaign.NameOfCampaign" class="form-control" />
    <span asp-validation-for="Campaign.NameOfCampaign" class="text-danger"></span>
</div>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Campaign.CampaignId" class="control-label"></label>
    <input asp-for="Campaign.CampaignId" class="form-control" />
    <span asp-validation-for="Campaign.CampaignId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Campaign.CreatedBy" class="control-label"></label>
    <input asp-for="Campaign.CreatedBy" class="form-control" />
    <span asp-validation-for="Campaign.CreatedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Campaign.CreatedAt" class="control-label"></label>
    <input asp-for="Campaign.CreatedAt" class="form-control" />
    <span asp-validation-for="Campaign.CreatedAt" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Campaign.ChangedBy" class="control-label"></label>
    <input asp-for="Campaign.ChangedBy" class="form-control" />
    <span asp-validation-for="Campaign.ChangedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Campaign.ChangedAt" class="control-label"></label>
    <input asp-for="Campaign.ChangedAt" class="form-control" />
    <span asp-validation-for="Campaign.ChangedAt" class="text-danger"></span>
</div>