@model WebApp.ViewModels.DiscountCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Discount.CheckId" class="control-label"></label>
    <select asp-for="Discount.CheckId" class ="form-control" asp-items="Model.CheckSelectList"></select>
</div>
<div class="form-group">
    <label asp-for="Discount.WashId" class="control-label"></label>
    <select asp-for="Discount.WashId" class ="form-control" asp-items="Model.WashSelectList"></select>
</div>
<div class="form-group">
    <label asp-for="Discount.DiscountAmount" class="control-label"></label>
    <input asp-for="Discount.DiscountAmount" class="form-control" />
    <span asp-validation-for="Discount.DiscountAmount" class="text-danger"></span>
</div>