@model WebApp.ViewModels.ServiceCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Service.NameOfService" class="control-label"></label>
    <input asp-for="Service.NameOfService" class="form-control" />
    <span asp-validation-for="Service.NameOfService" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Service.CampaignId" class="control-label"></label>
    <input asp-for="Service.CampaignId" class="form-control" />
    <span asp-validation-for="Service.CampaignId" class="text-danger"></span>
</div>