@model Domain.Service

<h4>Service</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.NameOfService)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.NameOfService)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CampaignId)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.CampaignId)
    </dd>
</dl>