@model WebApp.ViewModels.WashCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Wash.CheckId" class="control-label"></label>
    <input asp-for="Wash.CheckId" class="form-control" />
    <span asp-validation-for="Wash.CheckId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Wash.WashTypeId" class="control-label"></label>
    <input asp-for="Wash.WashTypeId" class="form-control" />
    <span asp-validation-for="Wash.WashTypeId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Wash.NameOfWashType" class="control-label"></label>
    <input asp-for="Wash.NameOfWashType" class="form-control" />
    <span asp-validation-for="Wash.NameOfWashType" class="text-danger"></span>
</div>