@model Domain.PaymentMethod

<h4>PaymentMethod</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PaymentMethodName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PaymentMethodName)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PaymentMethodId)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PaymentMethodId)
    </dd>
</dl>